<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<h1>File Upload</h1>

<hr/>

<h4>Upload Single File:</h4>
<form method="POST" enctype="multipart/form-data" th:action="@{/upload-file}">
    <input type="file" name="file"> <br/>
    Specify Customer tags (comma separated): <input type="text" name="customer"><br/>
    Specify Date: <input type="date" id="doc_date" th:name="doc_date">
    <button type="submit">Submit</button>
</form>

<hr/>

<hr/>

<h2>All Uploaded Files:</h2>
<ul>
    <li th:each="file : ${files}">
        <a th:href="${file}" target="_blank" th:text="${file}"></a>
    </li>
</ul>

</body>
</html>